#log-in-form, #sign-up-form {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  background: #efde1d;
  border: 2px solid;

  & > * {
    margin-top: 2em;
  }

  #title {
    align-self: center;
    font-weight: bold;
    font-size: 2em;
    margin-top: 0;
  }

  #submit {
    width: 50%;
    align-self: center;
    margin-top: 2em;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 1.2em;

    &:hover {
      cursor: pointer;
      background: white;
      color: black;
      border: 2px solid;
    }
  }
}