/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
body {
  margin: 0;
  min-width: 400px;
}

/* line 13, ../sass/screen.scss */
button {
  margin: 0.5em;
  width: 100px;
  outline: none;
  background: #efde1d;
  border-style: none;
  font-weight: bold;
  border-radius: 0.6em;
  border: 1px solid #fbff1b;
}
/* line 23, ../sass/screen.scss */
button:hover {
  background: black;
  color: #efde1d;
  cursor: pointer;
}
/* line 29, ../sass/screen.scss */
button.inactive:hover {
  background: #efde1d;
}

/* line 34, ../sass/screen.scss */
form {
  flex-grow: 3;
  padding: 1em;
}
/* line 37, ../sass/screen.scss */
form input {
  width: 95%;
  height: 2.5em;
  border-style: none;
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}
/* line 44, ../sass/screen.scss */
form input:focus {
  border: 2px solid;
  outline: none;
}

/* line 1, ../sass/header.scss */
#header {
  display: flex;
  max-width: 100%;
  height: 40px;
  padding: 0.2em;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: black;
  font-weight: bolder;
  font-size: 2em;
  color: white;
}
/* line 13, ../sass/header.scss */
#header #logo {
  padding-top: 0.2em;
  text-decoration: none;
  color: white;
}
/* line 19, ../sass/header.scss */
#header #auth-buttons {
  display: flex;
  align-items: center;
}
/* line 23, ../sass/header.scss */
#header #auth-buttons a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
}

/* line 1, ../sass/userpage.scss */
#user-page {
  display: flex;
  flex-flow: row wrap;
}
/* line 5, ../sass/userpage.scss */
#user-page > * {
  margin: 0.5em;
}
/* line 9, ../sass/userpage.scss */
#user-page #video-comp.active {
  flex-grow: 0;
}
/* line 13, ../sass/userpage.scss */
#user-page #video-comp {
  flex-grow: 2;
  position: relative;
}
/* line 17, ../sass/userpage.scss */
#user-page #video-comp #video {
  border: solid;
  max-height: 480px;
  width: 100%;
  background: black;
}
/* line 24, ../sass/userpage.scss */
#user-page #video-comp #user-message {
  position: absolute;
  top: 10%;
  background: white;
  padding: 1em;
  left: 25%;
  height: 40%;
  border: 4px solid #efde1d;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.3em;
  width: 45%;
}
/* line 41, ../sass/userpage.scss */
#user-page #video-comp #user-message-button {
  align-self: center;
  height: 40px;
  widows: 50%;
}
/* line 47, ../sass/userpage.scss */
#user-page #video-comp #user-controls {
  width: 100%;
  border: solid;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
/* line 54, ../sass/userpage.scss */
#user-page #video-comp #user-controls #video-controls {
  padding: 0.8em;
  display: flex;
  flex-flow: row nowrap;
}
/* line 62, ../sass/userpage.scss */
#user-page #chat {
  width: 300px;
  border: solid;
  flex-grow: 1;
  background: aliceblue;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  display: flex;
  justify-content: center;
}
/* line 73, ../sass/userpage.scss */
#user-page #chat #overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
/* line 79, ../sass/userpage.scss */
#user-page #chat #overlay div {
  width: 50%;
  height: 25%;
  background: white;
  align-self: center;
}
/* line 87, ../sass/userpage.scss */
#user-page #chat #messages {
  min-height: 60%;
  border-bottom: 4px solid;
  padding: 1em;
  flex-grow: 2000;
  position: relative;
  display: flex;
  justify-content: center;
}
/* line 96, ../sass/userpage.scss */
#user-page #chat #messages #disabled {
  width: 50%;
  background: white;
  position: absolute;
  align-self: center;
  padding: 2em;
  text-align: center;
  font-weight: bold;
  min-height: 80px;
  display: flex;
  justify-content: center;
}
/* line 110, ../sass/userpage.scss */
#user-page #chat #signin-modal {
  display: flex;
  flex-flow: column nowrap;
  height: 100px;
  justify-content: space-between;
  font-size: 1.5em;
  font-weight: bold;
  align-self: center;
  border: 2px solid;
  padding: 1.5em;
  background: #efde1d;
  align-items: center;
}
/* line 123, ../sass/userpage.scss */
#user-page #chat #signin-modal button {
  height: 40px;
  background: black;
  color: #efde1d;
}
/* line 128, ../sass/userpage.scss */
#user-page #chat #signin-modal button:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

/* line 1, ../sass/auth.scss */
#log-in-form, #sign-up-form {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  background: #efde1d;
  border: 2px solid;
}
/* line 10, ../sass/auth.scss */
#log-in-form > *, #sign-up-form > * {
  margin-top: 2em;
}
/* line 14, ../sass/auth.scss */
#log-in-form #title, #sign-up-form #title {
  align-self: center;
  font-weight: bold;
  font-size: 2em;
  margin-top: 0;
}
/* line 21, ../sass/auth.scss */
#log-in-form #submit, #sign-up-form #submit {
  width: 50%;
  align-self: center;
  margin-top: 2em;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}
/* line 30, ../sass/auth.scss */
#log-in-form #submit:hover, #sign-up-form #submit:hover {
  cursor: pointer;
  background: white;
  color: black;
  border: 2px solid;
}
