/* line 1, ../sass/userpage.scss */
#user-page {
  display: flex;
  flex-flow: row wrap;
}
/* line 5, ../sass/userpage.scss */
#user-page > * {
  margin: 0.5em;
}
/* line 9, ../sass/userpage.scss */
#user-page #video-comp.active {
  flex-grow: 0;
}
/* line 13, ../sass/userpage.scss */
#user-page #video-comp {
  flex-grow: 2;
  position: relative;
}
/* line 17, ../sass/userpage.scss */
#user-page #video-comp #video {
  border: solid;
  max-height: 480px;
  width: 100%;
  background: black;
}
/* line 24, ../sass/userpage.scss */
#user-page #video-comp #user-message {
  position: absolute;
  top: 25%;
  background: white;
  padding: 1em;
  left: 25%;
  min-height: 150px;
  border: 4px solid #efde1d;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-weight: bold;
}
/* line 39, ../sass/userpage.scss */
#user-page #video-comp #user-message-button {
  align-self: center;
  height: 40px;
}
/* line 44, ../sass/userpage.scss */
#user-page #video-comp #user-controls {
  width: 100%;
  border: solid;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
/* line 51, ../sass/userpage.scss */
#user-page #video-comp #user-controls #video-controls {
  padding: 0.8em;
  display: flex;
  flex-flow: row nowrap;
}
/* line 59, ../sass/userpage.scss */
#user-page #chat {
  width: 300px;
  border: solid;
  flex-grow: 1;
  background: aliceblue;
  display: flex;
  flex-flow: column nowrap;
}
/* line 67, ../sass/userpage.scss */
#user-page #chat #messages {
  min-height: 60%;
  border-bottom: 4px solid;
  padding: 1em;
  flex-grow: 2000;
}
/* line 74, ../sass/userpage.scss */
#user-page #chat #signin-modal {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100px;
  justify-content: space-between;
  font-size: 1.5em;
  font-weight: bold;
  align-items: center;
  border: 2px solid;
  padding: 1.5em;
  background: #efde1d;
}
/* line 86, ../sass/userpage.scss */
#user-page #chat #signin-modal button {
  height: 40px;
  background: black;
  color: #efde1d;
}
/* line 91, ../sass/userpage.scss */
#user-page #chat #signin-modal button:hover {
  background: white;
  color: black;
  border: 2px solid black;
}
