/* line 1, ../sass/userpage.scss */
#user-page {
  display: flex;
  flex-flow: row wrap;
}
/* line 5, ../sass/userpage.scss */
#user-page > * {
  margin: 0.5em;
}
/* line 9, ../sass/userpage.scss */
#user-page #video-comp.active {
  flex-grow: 0;
}
/* line 13, ../sass/userpage.scss */
#user-page #video-comp {
  flex-grow: 2;
  position: relative;
}
/* line 17, ../sass/userpage.scss */
#user-page #video-comp #video {
  border: solid;
  max-height: 480px;
  width: 100%;
  background: black;
}
/* line 24, ../sass/userpage.scss */
#user-page #video-comp #user-message {
  position: absolute;
  top: 10%;
  background: white;
  padding: 1em;
  left: 25%;
  height: 40%;
  border: 4px solid #efde1d;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.3em;
  width: 45%;
}
/* line 41, ../sass/userpage.scss */
#user-page #video-comp #user-message-button {
  align-self: center;
  height: 40px;
  widows: 50%;
}
/* line 47, ../sass/userpage.scss */
#user-page #video-comp #user-controls {
  width: 100%;
  border: solid;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
/* line 54, ../sass/userpage.scss */
#user-page #video-comp #user-controls #video-controls {
  padding: 0.8em;
  display: flex;
  flex-flow: row nowrap;
}
/* line 62, ../sass/userpage.scss */
#user-page #chat {
  width: 300px;
  border: solid;
  flex-grow: 1;
  background: aliceblue;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  display: flex;
  justify-content: center;
}
/* line 73, ../sass/userpage.scss */
#user-page #chat #overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
/* line 79, ../sass/userpage.scss */
#user-page #chat #overlay div {
  width: 50%;
  height: 25%;
  background: white;
  align-self: center;
}
/* line 87, ../sass/userpage.scss */
#user-page #chat #messages {
  min-height: 60%;
  border-bottom: 4px solid;
  padding: 1em;
  flex-grow: 2000;
  position: relative;
  display: flex;
  justify-content: center;
}
/* line 96, ../sass/userpage.scss */
#user-page #chat #messages #disabled {
  width: 50%;
  background: white;
  position: absolute;
  align-self: center;
  padding: 2em;
  text-align: center;
  font-weight: bold;
  min-height: 80px;
  display: flex;
  justify-content: center;
}
/* line 110, ../sass/userpage.scss */
#user-page #chat #signin-modal {
  display: flex;
  flex-flow: column nowrap;
  height: 100px;
  justify-content: space-between;
  font-size: 1.5em;
  font-weight: bold;
  align-self: center;
  border: 2px solid;
  padding: 1.5em;
  background: #efde1d;
  align-items: center;
}
/* line 123, ../sass/userpage.scss */
#user-page #chat #signin-modal button {
  height: 40px;
  background: black;
  color: #efde1d;
}
/* line 128, ../sass/userpage.scss */
#user-page #chat #signin-modal button:hover {
  background: white;
  color: black;
  border: 2px solid black;
}
